$roundedBorder: 8px;

$dayColorOne: #56ccf2;
$dayColorTwo: #2f80ed;

$nightColorOne: #0f2027;
$nightColorTwo: #2c5364;
$nightColorThree: #203a43;

$hotColorOne: #ff512f;
$hotColorTwo: #f09819;

$coldColorOne: #24c6dc;
$coldColorTwo: #514a9d;

$paddingBottom: 2em;
$marginBottom: 2em;

$fontFamily: 'Montserrat', sans-serif;

$thinWeight: 200;
$regularWeight: 400;
$boldWeight: 600;

$textTransform: uppercase;
$textSpacing: 3px;

$pSize: 12px;
$weatherDetailSize: 10px;

$transition: all 0.2s ease-in-out;

$cityName: 36px;

$flexGap: 1em;